.section-tiltle {

    color: coral;
}
.div-title{
    width:100% ;
    height: 150px;
    background-color: rgb(20, 183, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
