:root {
    --theme-color:#f8ea6f;
}



.section-title {
    color: rgb(247, 97, 172);
}

.div-title {
    width: 100%;
    height: 150px;
    background-color:var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-subtitle {
    color: var(--theme-color);
}