.section-title{
    color: rgb(133, 10, 126);
}

.div-title{

width: 100%;
height: 150px;
background-color: rgb(111, 248, 248);
display: flex;
align-items: center;
justify-content: center;

}
.section-subtitle{
    color: blueviolet;
}