:root{
    --theme-color: #1fb8a3;;
}






.div-title{
    width: 100%;
    height: 150px;
    background-color:var(--theme-color)  ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-tiltle{
    color: rgb(71, 87, 231);
}

.section-subtiltle{
    color: #d356ec;
}

.section-subtiltle {
    color: var(--theme-color);
}