:root {
--theem-coler: #000000;
}




.section-title {
    color: #f30a8a;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theem-coler);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-subtitle {
    color: var(--theem-coler);
}