:root {
--theem-coler: hsla(300, 100%, 1%, 0.041);
}




.section-title {
    color: #f30a8a;
}

.div-title {
    width: 100%;
    heightz: 150px;
    background-color: var(--tsheem-coler);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-subtitle {
    color: var(--theem-coler);
}