:root {
    --theme-color: #debd1b;
}


.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items:center ;
    justify-content: center;
}

.section-title {
    color: rgb(130, 49, 6);
}

.section-subtitle {
    color: var(--theme-color);
}